In [10]:
import pandas as pd
from sklearn import preprocessing

In [11]:
details = { 
    'Name' : ['Ankit', 'Aishwarya', 'Shaurya', 'Shivangi'], 
    'marks1' : [23, 21, 22, 21],
    'marks2' : [33, 9, 15, 29],
    'marks3' : [43, 17, 8, 34],
    'Pass' : ['Yes', 'No', 'No', 'Yes'], 
}

In [12]:
df = pd.DataFrame(details)

df

        Name  marks1  marks2  marks3 Pass
0      Ankit      23      33      43  Yes
1  Aishwarya      21       9      17   No
2    Shaurya      22      15       8   No
3   Shivangi      21      29      34  Yes

In [13]:
df['Pass'].unique()
## We have two unique i.e student is either pass or fail
##while training model we need to change yes/no to numerical data

array(['Yes', 'No'], dtype=object)

In [14]:
label_encoder = preprocessing.LabelEncoder() 
df['Pass']= label_encoder.fit_transform(df['Pass']) 
df.head()

        Name  marks1  marks2  marks3  Pass
0      Ankit      23      33      43     1
1  Aishwarya      21       9      17     0
2    Shaurya      22      15       8     0
3   Shivangi      21      29      34     1

##### Now we can train our model after converting it to numerical data