#### It refers to splitting the column which contains numerical categorical data to many columns depending on the number of categories present in that column. Each column contains “0” or “1” corresponding to which column it has been placed.

In [40]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import OneHotEncoder 
from sklearn.compose import ColumnTransformer

In [41]:
details = { 
    'R' : [246, 27, 27, 27], 
    'G' : [23, 97, 252, 251],
    'B' : [0, 246, 15, 106],
    'Color' : ['Red', 'Blue', 'Green', 'Green'], 
}

In [42]:
df = pd.DataFrame(details)

df

     R    G    B  Color
0  246   23    0    Red
1   27   97  246   Blue
2   27  252   15  Green
3   27  251  106  Green

In [43]:
df['Color'].unique()

array(['Red', 'Blue', 'Green'], dtype=object)

In [44]:
from sklearn.preprocessing import LabelEncoder
labelencoder_X = LabelEncoder()
df['Color'] = labelencoder_X.fit_transform(df['Color'])
ct = ColumnTransformer([("Color", OneHotEncoder(), [3])], remainder = 'passthrough')
df_transform = ct.fit_transform(df)

In [45]:
df_transform

array([[  0.,   0.,   1., 246.,  23.,   0.],
       [  1.,   0.,   0.,  27.,  97., 246.],
       [  0.,   1.,   0.,  27., 252.,  15.],
       [  0.,   1.,   0.,  27., 251., 106.]])

In [63]:
## By Dummy Variables
df = pd.DataFrame(details)
dummies = pd.get_dummies(df.Color)
dummies

   Blue  Green  Red
0     0      0    1
1     1      0    0
2     0      1    0
3     0      1    0

In [64]:
df_one_hot_encoded = pd.concat([df, dummies],axis='columns')
df_one_hot_encoded

     R    G    B  Color  Blue  Green  Red
0  246   23    0    Red     0      0    1
1   27   97  246   Blue     1      0    0
2   27  252   15  Green     0      1    0
3   27  251  106  Green     0      1    0

In [65]:
df_one_hot_encoded.drop(['Color'],axis=1)

     R    G    B  Blue  Green  Red
0  246   23    0     0      0    1
1   27   97  246     1      0    0
2   27  252   15     0      1    0
3   27  251  106     0      1    0